*.pyc
ImgProcessing/err_list/*
ImgProcessing/logs/*
test_output/*
Training/weights/*
Training/training_logs/*
nohup.out
test_images/*
misc/
*.pth
*.log
*.CR2
*.CR3
*.jpg
*.jpeg

!UI/*.pth
!UI/exampleImgs/*.jpg

